.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  color: var(--gray-800);
  margin-bottom: 0.75rem;
}

.form {
  input {
    max-width: 10rem;
  }

  span {
    font-size: 1.125rem;
    color: var(--gray-700);
  }
}

.flex,
.textarea,
.upload {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.upload {
  display: flex;
  flex-direction: column;

  input[type='file'] {
    display: none;
  }

  label {
    cursor: pointer;
    border-radius: 4px;
    padding: 1.5rem;
    background-color: var(--gray-100);
    border: 2px dashed var(--gray-300);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    strong {
      font-weight: 600;
    }
  }
}
